.wrap-popular{
    background-color: black;
    color: white;
    padding-bottom: 100px;
}

.wrap-carousel{
    width: 90%;
    margin: 0 auto;

}
.tab-pane{
    padding: 30px;
}
ul.nav.nav-pills{
    margin-left: 46px;
}
a.nav-link{
    color: white;
}