.img-content{
    width: auto;
    filter: brightness(0.8);
    cursor: pointer;
}
.row-content-TinTuc{
    margin: 50px 0 ;
}
.content{
    position: absolute;
    bottom: 33px;
    width: 15%;
    margin-left: 37px;
}
.content-right1{
    position: absolute;
    top: 35px;
    left: 90px;
}
.detail{
    position: absolute;
    bottom: 58px;
    left: 124px;
}