.wrap-sign-up{
    background-image: url("../../Assets/Imgs/background-signup.jpg");
    background-size: cover;
    background-position-y: top;
    position: absolute;
    top: 0;
    height: 800px;
}
.form-signup{
    margin-top: 100px;
}
.form-col{
    margin: 0 auto;
    background-color: black;
    opacity: 0.8;
}
.h1-signup{
    color: red;

}
.row-signup{
    text-align: left;
}
input.form-control{
    color: black !important;
    width: 100% !important;
    margin-bottom: 20px;
    padding-left: 40px;
}
input.form-control:focus{
    box-shadow: 0 0 0 0.2rem white;
    border: 1px solid black;
}

.div-error{
    color: red;
    margin-bottom: 20px;
    font-size: 15px;
}
.form-row{
    height: 550px;
}
.container-fluid.wrap-signup{
    height: 100%;
}
.col-signup{
    height: 140px;
}
.h1-signup{
    padding-top: 20px;
}